@use "~/src/index.scss" as global;

.window {
  height: 100vh;
  overflow-y: auto;
  position: relative;
}

.title {
  @include global.cloudy-glass;

  position: absolute;
  top: 0;
  padding: 25px;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid global.$dark-grey;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls {
  display: flex;
  gap: 1rem;
}

.add-user {
  @include global.btn-contained(global.$blue);
}

.del-user {
  @include global.btn-outlined(global.$red);
}

.feed-wrapper {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;

  &::-webkit-scrollbar {
    display: none;
  }
}

.feed {
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message-input {
  @include global.cloudy-glass;

  position: absolute;
  bottom: 0;
  padding: 10px 20px;
  z-index: 10;
  width: 100%;

  & > input {
    width: 100%;
    @include global.input-round;
  }
}

@mixin message($color, $bgcolor, $align) {
  padding: 20px;
  border-radius: global.$border-radius;
  color: $color;
  background-color: $bgcolor;
  max-width: 50%;
  align-self: $align;
  position: relative;

  &::after {
    content: attr(data-time);
    color: global.$dark-grey;
    font-size: 0.75rem;
    position: absolute;
    top: 20px;
    @if $align == flex-end {
      left: -50px;
    } @else {
      right: -50px;
    }
  }
}

.income-message {
  @include message(white, global.$blue, flex-start);
}

.your-message {
  @include message(black, global.$grey-paper, flex-end);
}
