@use "~/src/index.scss" as global;
.window {
  height: 100vh;
  overflow-y: auto;
  position: relative;
}
.title {
  position: absolute;
  top: 0;
  padding: 25px;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid global.$dark-grey;
  background-color: global.$paper;
  z-index: 10;
}
.feed-wrapper {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  display: flex;
  flex-direction: column-reverse;
}
.feed {
  padding: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.message-input {
  position: absolute;
  bottom: 0;
  padding: 10px 20px;
  z-index: 10;
  width: 100%;
  background-color: rgba(global.$paper, 0.5);
  backdrop-filter: blur(2px);
  & > input {
    width: 100%;
    @include global.input-round;
  }
}

@mixin message($color, $bgcolor, $align) {
  padding: 20px;
  border-radius: global.$border-radius;
  color: $color;
  background-color: $bgcolor;
  max-width: 50%;
  align-self: $align;
  position: relative;
  &::after {
    content: attr(data-time);
    color: global.$dark-grey;
    font-size: 0.75rem;
    position: absolute;
    top: 20px;
    @if $align == flex-end {
      left: -50px;
    } @else {
      right: -50px;
    }
  }
}

.incomeMessage {
  @include message(white, global.$blue, flex-start);
}
.yourMessage {
  @include message(black, global.$grey-paper, flex-end);
}
