@use "~/src/index.scss" as global;

.input-error {
  background-color: rgba(global.$red, 0.2);

  &:focus {
    background-color: rgba(global.$red, 0.2) !important;
  }
}

label:has(> .input-error) {
  position: relative;

  &::after {
    content: "This field is invalid";
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgba(global.$red, 0.4);
  }
}
